<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Posts</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body>
<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>Posts</h2>
        <a th:href="@{/post/new}" class="btn btn-success">Add Post</a>
        <a href="/" class="btn btn-success">Home</a>
    </div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>T/r</th>
            <th>Title</th>
            <th>Description</th>
            <th>Photo</th>
            <th>Created At</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post, status : ${posts}">
            <td th:text="${status.index+1}"></td>
            <td th:text="${post.title}"></td>
            <td th:text="${post.description}"></td>
            <td>
                <img th:src="@{'/uploads/' + ${post.photoPath}}" th:alt="${post.photoPath     }" style="width: 100px; height: auto;">
            </td>
            <td th:text="${post.created_at}"></td>
            <td>
                <a th:href="@{'/post/edit/' + ${post.id}}" class="btn btn-primary btn-sm">Edit</a>
                <a th:href="@{'/post/delete/' + ${post.id}}" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this post?');">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>