<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Comments</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body>
<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>Posts</h2>
<!--        <a th:href="@{/post/new}" class="btn btn-success">Add Post</a>-->
        <a href="/" class="btn btn-success">Home</a>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card mb-4">
                <img th:src="@{'/uploads/' + ${post.photoPath}}" class="card-img-top" alt="Post Image">
                <div class="card-body">
                    <h5 class="card-title" th:text="${post.title}">Post Title</h5>
                    <p class="card-text" th:text="${post.description}">Post description goes here.</p>
                    <p class="card-text">
                        <small class="text-muted" th:text="${post.created_at}">Post Date</small>
                    </p>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Leave a Comment</h5>
                    <form action="/comment" method="post">
                        <input type="hidden" name="postId" th:value="${post.id}">
                        <div class="form-group">
                            <label for="comment">Comment</label>
                            <textarea class="form-control" id="comment" name="body" rows="3" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Comments</h5>
                    <div th:each="comment : ${comments}">
                        <div class="mb-3">
                            <p class="card-text"><strong th:text="${comment.user.fullName}">Username</strong></p>
                            <p class="card-text" th:text="${comment.body}">Comment content goes here.</p>
                            <p class="card-text">
                                <small class="text-muted" th:text="${comment.created_at}">Comment Date</small>
                            </p>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
